<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yenimobile.quitcigbro">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".NewnotifActivity" />

        <service
            android:name=".someServices.ReminderInstantService"
            android:exported="false" />
        <service
            android:name=".someServices.ReminderFirebaseJobservice"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".CigreminderActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".QuitcigMainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".someServices.MyIntentService"
            android:exported="false" />
        <service
            android:name=".someServices.DailyFirebaseJobservice"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".broadcastReceivers.MyReceiver"
            android:exported="false" />

        <activity
            android:name=".StartDayActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".BeforeStartActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity android:name=".DayToDayActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"></activity>


    </application>

</manifest>